@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Boldonse&family=Kedebideri:wght@400;500;600;700;800;900&family=Smooch+Sans:wght@100..900&display=swap');

.font-primary {
  font-family: "Afacad", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.font-secondary-regular {
  font-family: "Kedebideri", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-secondary-medium {
  font-family: "Kedebideri", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.font-secondary-semibold {
  font-family: "Kedebideri", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.font-secondary-bold {
  font-family: "Kedebideri", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.font-secondary-extrabold {
  font-family: "Kedebideri", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.font-secondary-black {
  font-family: "Kedebideri", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.font-tertiary {
  font-family: "Smooch Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.font-quater {
  font-family: "Boldonse", system-ui;
  font-style: normal;
}

